.theme-container.home-page-class{
    --content-width: 960px;
    --homepage-width: 960px;
}

.grid-title{
    font-size: 24px;
    font-weight: bolder;
    color: #333;
}

.grid-item{
    color: #60d47e;
    font-size: 28px;
    font-weight: 500;
}

.grid-item .description{
    color: #737680;
    font-size: 14px;
}